In [20]:
# Import Dependencies
import pandas as pd

In [21]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [39]:
# Figure out the min views
mins_views = ted_df['comments'].min()
mins_views

2

In [40]:
# find max views

max_views = ted_df['comments'].max()

max_views

6404

In [42]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000]


# Create labels for these bins
bin_labels = ['quiet', 'not so quiet', 'getting there', 'medium', 'loud', 'louder', 'deafening']

In [45]:
# Slice the data and place it into bins
sliced_df = pd.cut(ted_df['comments'], bins, labels=bin_labels)

In [46]:
# Place the data series into a new column inside of the DataFrame
ted_df['Comment_Group'] = sliced_df
ted_df

,comments,description,duration,event,languages,main_speaker,name,title,views,View_Group,Comment_Group
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,Everything else,loud
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,Everything else,quiet
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,Everything else,quiet
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,Everything else,quiet
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,Everything else,quiet
...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,What we're missing in the debate about immigra...,450430,400k to 599k,quiet
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,The most Martian place on Earth,417470,400k to 599k,quiet
2547,10,Science fiction visions of the future show us ...,651,TED2017,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,What intelligent machines can learn from a sch...,375647,200k to 399k,quiet
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,A black man goes undercover in the alt-right,419309,400k to 599k,quiet
2549,8,With more than half of the world population li...,519,TED2017,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,How a video game might help us build better ci...,391721,200k to 399k,quiet

In [50]:
# Create a GroupBy object based upon "View Group"
grouped = ted_df.groupby('Comment_Group')

# Find how many rows fall into each bin
grouped["comments"].count()

# Get the average of each column within the GroupBy object
grouped.mean()

                  comments     duration  languages         views
Comment_Group
quiet           170.052799   823.256054  27.179436  1.584304e+06
not so quiet   1401.363636  1080.045455  38.272727  9.669654e+06
getting there  2496.333333   959.666667  39.000000  1.200464e+07
medium         3356.000000  1386.000000  39.000000  3.433437e+06
loud           4553.000000  1164.000000  60.000000  4.722711e+07
louder                 NaN          NaN        NaN           NaN
deafening      6404.000000  1750.000000  42.000000  4.374792e+06